@font-face {
  font-family: Oswald;
  src: url(/fonts/Oswald-Regular.ttf) format(truetype);
  font-size: 400;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #000000;
}

.container {
  padding: 0 24px;
  max-width: 1268px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  padding: 0 55px;
  width: 1330px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__menu {
  display: flex;
  gap: 37px;
}
.header .header__menu .nav__item {
  text-decoration: none;
  color: aliceblue;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.header__banner {
  position: relative;
  margin: 0 auto;
  padding: 55px 0;
  width: 1330px;
  height: 696px;
  background-image: url(/images/banner-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__banner .header__title {
  margin-top: 111px;
  margin-left: 90px;
  font-family: Oswald;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  color: rgb(0, 0, 0);
}
.header__banner .header__desc {
  margin-top: 40px;
  margin-left: 90px;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(0, 0, 0);
}
.header__banner .header__btn {
  padding: 14px 42px;
  background: rgb(104, 183, 56);
  border: none;
  margin-top: 52px;
  margin-left: 90px;
}
.header__banner .header__btn .nav__item {
  text-decoration: none;
  color: rgb(233, 240, 240);
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.header__banner .header__img {
  position: absolute;
  top: 143px;
  right: 330px;
}

@media screen and (min-width: 321px) and (max-width: 720px) {
  .header__banner {
    background-image: none;
    display: grid;
  }
  .header__img {
    position: static;
  }
  .nav__item {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}
@media screen and (min-width: 0px) and (max-width: 320px) {
  .header__banner {
    background-position: left;
    background-size: contain;
  }
}
.main__section {
  padding: 82px 0 0 0;
}
.main__section .main--section__row {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main__section .main--section__row .main--section__card {
  width: 570px;
  height: 374px;
  padding: 40px 52px;
  background: rgb(242, 242, 242);
}
.main__section .main--section__row .main--section__card .main--card__title {
  display: flex;
  align-items: center;
  gap: 62px;
}
.main__section .main--section__row .main--section__card .main--card__title p {
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: rgb(0, 0, 0);
}
.main__section .main--section__row .main--section__card .main--card__desc p {
  margin-top: 40px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(0, 0, 0);
}
.main__section .main--section__row .main--section__card .main--card__desc .main--card__more {
  margin-top: 27px;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.work__part p {
  padding-top: 71px;
  color: #000000;
  font-family: Oswald;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}

.second__row {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.second__card {
  width: 230px;
  height: 280px;
}
.second__card .second__square {
  align-items: center;
  margin-top: 40px;
  width: 80px;
  height: 80px;
  border: none;
  background-color: green;
}
.second__card p {
  z-index: 2;
  position: absolute;
  padding-top: 31px;
  color: #444444;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.second__card .second__square_icon {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.second__card4 {
  width: 246px;
  height: 280px;
}
.second__card4 .second__square {
  margin-top: 40px;
  width: 80px;
  height: 80px;
  border: none;
  background-color: green;
}
.second__card4 p {
  position: absolute;
  z-index: 2;
  padding-top: 31px;
  color: #444444;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.second__card4 .second__square_icon {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.primer__title p {
  font-family: Oswald;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 72px;
}

.primer__info {
  padding: 70px 0;
  background: rgb(242, 242, 242);
}
.primer__info .primer__desc p {
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(68, 68, 68);
}

.borders {
  display: flex;
  gap: 42px;
  padding-top: 69px;
}

.first__border, .second__border {
  width: 162px;
  height: 77px;
  border-radius: 5px;
  border: 1px solid #CDCDCD;
}

.first__border h3, .second__border h3 {
  padding-top: 15px;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.first__border {
  position: relative;
}
.first__border .border__card {
  position: absolute;
  top: 69px;
  left: 23px;
  padding: 0 8px;
  width: 117px;
  height: 14px;
  background-color: #F2F2F2;
}

.second__border {
  position: relative;
}
.second__border .border__card2 {
  position: absolute;
  top: 69px;
  left: 13px;
  padding: 0 5px;
  width: 138px;
  height: 14px;
  background-color: #F2F2F2;
}

.border__card p {
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.border__card2 p {
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

@media screen and (min-width: 321px) and (max-width: 720px) {
  .main--section__row {
    margin: 0 auto;
    display: grid;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
  }
  .second__row {
    padding-top: 32px;
    display: grid;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .second__square {
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */